//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding-right: size(11);
  padding-left: size(42);
  background-position: 15px center;
  background-size: size(22);
}
div.wpcf7 textarea {
  height: size(160);
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(22);
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="submit"] {
  @include submit-style;
}
.foo-form-title, .foo-form-subtitle {
  @include base-title;
  color: #ffffff;
  text-align: center;
}
.foo-form-subtitle {
  font-weight: 400;
}
.post-form-title {
  @include base-title;
  color: #ffffff;
}
.post-form-subtitle {
  @include base-text;
  line-height: 1.1rem;
}
.post-form-title, .post-form-subtitle {
  color: $text-main;
  text-align: center;
  margin-bottom: 14px;
}
.post-form-title {
  @include mid-title;
  font-weight: 500;
}
.post-form-subtitle {
  font-size: size(20);
  font-weight: 400;
}
.float-form {
  position: fixed;
  top: 10%;
  z-index: 99999;
  transition: all .5s;
  transform: translateX(-100%);
  opacity: 0;
  &.show-form {
	left: 3rem;
	opacity: 1;
	transform: translateX(0);
  }
}
.form-wrapper {
  border: 1px solid #000000;
  background-color: #efeeee;
}
.form-wrapper-vertical {
  padding: 37px 27px;
}
.form-wrapper-horizontal {
  padding: 48px 25px 15px 25px;
}
.repeat-form-block {
  margin: 60px 0;
}
