header {
  box-shadow: -1px 5px 13px 1px rgba(1, 1, 1, 0.08);
  background-color: #ffffff;
  padding: size(28) 0;
  &.fixed {
	.logo img {
	  max-height: 60px;
	}
	.header-tel, .header-mail {
	  font-size: size(26);
	  line-height: size(30);
	  margin-bottom: 7px;
	}
	.header-mail {
	  font-style: size(32);
	}
  }
  @media (max-width: 1920px) {
	padding: size(10) 0;
	.logo img {
	  max-height: 80px;
	}
	.header-tel, .header-mail {
	  font-size: size(26);
	  line-height: size(30);
	  margin-bottom: 7px;
	}
	.header-mail {
	  font-style: size(32);
	}
  }
  @media (max-width: 1200px) {
	.header-tel, .header-mail {
	  font-size: size(22);
	  line-height: size(25);
	}
	.header-mail {
	  font-style: size(25);
	}
  }
  @media (max-width: 992px) {
	.logo {
	  img{
		max-height: size(40);
	  }
	}
	.header-tel {
	  flex-wrap: wrap;
	  justify-content: center;
	  text-align: center;
	}
	.header-tel, .header-mail {
	  font-size: size(18);
	  line-height: size(29);
	  margin-bottom: 0;
	}
	.header-mail {
	  font-style: size(20);
	  line-height: size(24);
	}
  }
  @media (max-width: 576px) {
	.header-tel, .header-mail {
	  font-size: size(14);
	  line-height: size(18);
	}
	.header-mail {
	  font-style: size(16);
	  line-height: size(20);
	}
  }
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  a{
		@include d-center;
		color: $text-main;
		font-size: size(24);
		font-weight: 500;
		font-style: normal;
		letter-spacing: normal;
		line-height: size(24);
		text-align: center;
		padding: 0 15px;
		@media (max-width: 1200px) {
		  font-size: size(18);
		  line-height: size(20);
		}
		@media (max-width: 992px) {
		  padding: 0 8px;
		}
	  }
	  &:last-child a {
		border-left: none;
	  }
	}
  }
}
.logo {
  @include d-center;
  img {
	max-height: 128px;
  }
}
#breadcrumbs {
  a, span {
	color: $text-main;
  }
}
.triggers-col {
  position: fixed;
  left: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 99;
}
.trigger-item {
  @include d-center;
  width: size(57);
  height: size(57);
  margin-bottom: 9px;
  padding: size(12);
  transition: all ease-out .5s;
  img {
	max-height: 100%;
  }
  &:hover {
	transform: scale(0.9, 0.9);
  }
  &.whatsapp-item {
	background-color: #11d932;
  }
  &.facebook-item {
	background-color: #1e4fac;
  }
  &.youtube-item {
	background-color: #ae0101;
  }
  &.pop-trigger {
	cursor: pointer;
	background-color: #3a3a3a;
  }
  @media (max-width: 768px) {
	width: size(37);
	height: size(37);
	padding: size(8);
  }
}
.foo-socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .trigger-item {
	margin: 0 0 0 15px;
  }
}
.pop-great {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 88;
  transition: all ease-out .5s;
  &.show-pop {
	pointer-events: all;
	opacity: 1;
  }
}
.float-form {
  position: fixed;
  left: 60px;
  top: 30%;
  width: 354px;
  max-height: 100vh;
  z-index: 99999999999;
  transform: translateX(-100%);
  overflow-y: auto;
  opacity: 0;
  transition: all ease-out .5s;
  pointer-events: none;
  &.show-float-form{
	pointer-events: all;
	opacity: 1;
	transform: translateX(0);
  }
  .post-form-title {
	font-size: size(30);
	line-height: size(35);
  }
  .form-wrapper-vertical {
	padding-bottom: 0;
  }
  @media (max-width: 440px) {
	left: 0;
	width: calc(100vw - 20px);
	margin: 0 10px;
  }
}
//Footer
.footer-main {
  position: relative;
  background-color: $text-main;
  padding-top: 73px;
  padding-bottom: 47px;
  background-image: url("../img/footer-back.png");
  @include back-img;
}
.footer-container-menu {
  padding: 60px 15px 70px 15px;
}
.menu-border-top {
  position: relative;
  padding-top: 15px;
  border-top: 1px solid #fafafc;
  &:before {
	content: '';
	display: block;
	height: 3px;
	position: absolute;
	right: 0;
	top: -2.5px;
	width: 50%;
	background-color: #ffffff;
  }
}
.hop-hey.three-columns {
  column-count: 2;
  column-gap: 1rem;
  @media (max-width: 1200px) and (min-width: 992px) {
	column-count: 1;
	column-gap: unset;
  }
  @media (max-width: 576px) {
	column-count: 1;
	column-gap: unset;
  }
}
footer {
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	margin-bottom: 5px;
	a {
	  position: relative;
	  @include foo-menu;
	  padding-right: 20px;
	  transition: color .5s;
	  &:hover {
		color: $red-main;
		transition: color .5s;
	  }
	}
	li:hover {
	  &:before {
		border-right: 3px solid #ffffff;
	  }
	}
	&:before {
	  position: absolute;
	  content: '';
	  top: 12px;
	  color: #ffffff;
	  font-size: size(18);
	  line-height: size(20);
	  display: inline-block;
	  right: 0;
	  width: 3px;
	  height: 5px;
	  border: 3px solid transparent;
	  border-right: 3px solid #fff;
	}
  }
  .contact-list li {
	margin-bottom: 10px;
	a {
	  display: flex;
	  align-items: flex-start;
	  padding-right: 0;
	}
	&:before {
	  display: none;
	}
  }
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.foo-title {
  @include regular-text;
  color: #ffffff !important;
  margin-bottom: 10px;
}
.foo-form-wrap {
  padding-top: 70px;
}
#go-top {
  position: absolute;
  top: -4rem;
  right: 5%;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
  svg {
	width: size(60);
	fill: $red-main;
	transition: fill ease-out .5s;
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
  &:hover svg {
	fill: $text-main;
  }
}
.foo-form-title {
  @include base-title;
}
.foo-form-subtitle {
  @include page-small-title;
  font-weight: 400;
}
.foo-form-title, .foo-form-subtitle {
  color: #ffffff;
  text-align: center;
}
.header-tel, .header-mail {
  color: $text-main;
  font-size: size(30);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
  margin-bottom: size(16);
  transition: color ease-out .5s;
  &:hover {
	color: $red-main;
  }
}
.header-mail {
  font-style: size(37);
}
.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
