.faq {
  margin-top: size(40);
  .card {
	border: none !important;
	border-radius: 0;
	background-color: #ffffff;
  }
  .question-card {
	margin-bottom: 0;
  }
  .answer-body {
	padding: 24px 0 0 size(40);
  }
  .base-output {
	@include regular-text;
	color: $light-gray !important;
  }
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: size(43);
  border-radius: 0;
  border: none;
  background-color: #ffffff;
  border-bottom: 1px solid #69001f;
  padding: 15px size(35) 15px 40px;
  color: $text-main;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  background-size: 14px;
  background-image: url("../iconsall/faq.png");
  &.active-faq {
	.faq-body-title {
	  color: #ffffff;
	  transition: color .5s;
	}
  }
  .base-text {
	color: $text-main;
	font-weight: 400;
	text-align: right;
  }
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.faq-icon {
  position: absolute;
  left: 0;
  color: $red-main;
  font-size: size(33);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  &.hide {
	display: none;
  }
  &.show {
	display: block;
  }
}
.minus-icon {
  display: none;
}

//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(17);
	height: size(31);
	@media (max-width: 576px) {
	  width: size(12);
	  height: size(22);
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	z-index: 33;
	top: unset;
	bottom: -65px;
  }
  [dir="rtl"] .slick-next {
	left: 0;
	right: unset;
  }
  [dir="rtl"] .slick-prev {
	right: unset;
	left: 2rem;
  }
}
.reviews-block {
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/left.svg");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/right.svg");
  }
}
.base-slider-block {
  position: relative;
  padding: size(100) 0;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
  }
  @media (max-width: 992px) {
	margin-top: 5rem;
  }
}
//Reviews
.reviews-slide {
  @include d-center;
  width: 100%;
  padding: 0 12px;
  img {
	width: 100%;
  }
}
//Clients
.clients-block {
  margin: 56px 0;
}
.client-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 102px;
  img {
	max-height: 100%;
  }
}
//Main slider homepage
.main-slide-item {
  height: 600px;
  @include back-img;
  @media (max-width: 768px) {
	height: 400px;
  }
  @media (max-width: 500px) {
	height: 280px;
  }
}
.main-slider-block {
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	top: 0;
	@include d-center;
	flex-direction: column;
	height: 100%;
	width: auto;
	right: -2.5rem;
	z-index: 9999;
	@media (max-width: 1200px) {
	  right: -1.5rem;
	}
	@media (max-width: 768px) {
	  flex-direction: row;
	  top: calc(100% + 1rem);
	  right: auto;
	  left: auto;
	  height: auto;
	  width: 100%;
	}
  }
  ul.slick-dots {
	li {
	  margin: 10px 0;
	  @media (max-width: 768px) {
		margin: 0 10px;
	  }
	  button {
		@include d-center;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 2px solid #000000;
		background-color: transparent;
		opacity: 1 !important;
		@media (max-width: 650px) {
		  width: 11px;
		  height: 11px;
		}
		&:before {
		  top: unset;
		  left: unset;
		  color: #000000;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: #000000;
  }
}
.reverse-slider {
  .row-slider-reverse {
	flex-direction: row-reverse;
  }
}
.post-slider-block {
  margin-bottom: 70px;
  .slick-dots {
	right: 1rem;
	@media (max-width: 1200px) {
	  right: 1rem;
	}
  }
  ul.slick-dots {
	li {
	  button {
		border: 2px solid #ffffff;
		&:before {
		  color: #ffffff;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: #ffffff;
  }
  .main-slide-item {
	height: 309px;
	@media (max-width: 768px) {
	  height: 230px;
	}
	@media (max-width: 500px) {
	  height: 200px;
	}
  }
}
//Cards
//Card post
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.post-item-image {
  width: 100%;
  border: 2px solid $red-main;
  margin-bottom: size(20);
  padding: size(20) size(16);
  overflow: hidden;
  @include d-center;
  &:after {
	display: block;
	content: '';
	padding-bottom: 100%;
  }
  img {
	min-width: 100%;
	min-height: 100%;
	transition: all ease-out .5s;
  }
  &:hover img {
	transform: scale(1.1, 1.1);
  }
}
.post-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
.post-item-title {
  @include mid-title;
  font-weight: 500;
  margin-bottom: 10px;
}
.post-item-text {
  color: #757575;
  font-size: size(20);
  line-height: size(25);
  font-weight: 300;
  margin-bottom: 10px;
}
.post-col {
  margin-bottom: 37px;
}
.post-link {
  font-size: size(20);
  line-height: size(25);
  color: $text-main !important;
  background-image: url("../iconsall/arrow-link.png");
  background-position: 10px center;
  padding-left: 35px;
  background-size: size(10);
  background-repeat: no-repeat;
  transition: background-position .5s;
  &:hover {
	background-position: left center;
	transition: background-position .5s;
  }
}
.home-brands-col {
  border: 1px solid #69001f;
  padding-top: size(60);
  padding-bottom: size(110);
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 2rem);
  }
  [dir="rtl"] .slick-next {
	left: calc(50% - 30px);
  }
  [dir="rtl"] .slick-prev {
	right: calc(50% - 30px);
  }
}
.cat-page-data {
  .bread-row {
	margin-top: 0 !important;
  }
  .bread-container {
	padding: 0;
  }
}
.brand-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.brand-item {
  padding: size(20);
  @include d-center;
  img {
	max-height: size(92);
  }
}
