/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: 76%;
  }
  .col-xxl {
	flex: 0 0 20%;
	max-width: 20%;
  }
  //.post-body {
	//.container {
	//  max-width: 66%;
	//}
  //}
}
@media (min-width: 1200px) {
  .col-xxl-post {
	flex: 0 0 20%;
	max-width: 20%;
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .home-projects-row {
	.post-cat-base {
	  &:last-child {
		display: none;
	  }
	}
  }
}
@media (min-width: 769px) {
  .back-to-menu, .sub-head {
	display: none !important;
  }
  #MainNav{
	ul{
	  display: flex;
	  align-items: center;
	  height: 100%;
	  li{
		@include d-center;
		a {
		  border-left: 1px solid $text-main;
		}
	  }
	}
	li.menu-item-has-children {
	  position: relative;
	  &:hover {
		ul.sub-menu {
		  opacity: 1;
		  height: auto !important;
		  pointer-events: auto;
		}
	  }
	}
	ul.sub-menu {
	  position: absolute;
	  pointer-events: none;
	  padding: 20px 0;
	  z-index: 999;
	  opacity: 0;
	  top: 100%;
	  min-width: 450px;
	  display: block !important;
	  column-count: 2;
	  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.06);
	  background-color: #ffffff;
	  transition: opacity ease-out .5s;
	  &:after {
		content: '';
		display: block;
		height: 3px;
		background-color: $red-main;
		position: absolute;
		top: -1.5px;
		right: 70px;
		width: 117px;
	  }
	  li {
		padding: 0;
	  }
	  li a {
		color: #0a0405;
		font-size: size(18);
		font-weight: 400;
		border: none;
		font-style: normal;
		letter-spacing: normal;
		line-height: size(20);
		text-align: right;
		margin-bottom: 10px;
		transition: color ease-out .5s;
		&:hover {
		  color: $red-main;
		}
	  }
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .image-border {
	margin: 2rem 0;
  }
  .socials-share {
	margin-bottom: 3rem;
  }
  .home-projects-row {
	.post-cat-base {
	  &:last-child {
		display: block;
	  }
	}
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .contacts-footer-menu {
	order: 2;
  }
  .foo-links-menu {
	order: 3;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .col-menu-header {
	padding: 0;
  }
  .header-logo-col {
	padding-right: 55px;
  }
  #MainNav ul li a {
	text-align: right;
	padding: 20px;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .reviews-block, .clients-block {
	padding: 0 30px;
  }
  .gallery-col {
	padding: 7px 15px;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 950px) {

}
