@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "forms";
@import "partials";
@import "header-footer";

body{
  font-family: $heebo;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.base-title, .form-title {
  @include base-title;
  color: $text-main;
  text-align: center;
}
.form-title {
  font-weight: 400;
  margin-bottom: 10px;
  strong {
	font-weight: 500;
  }
}
.base-output {
  h1, h2 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $text-main;
	font-weight: 500;
	margin-bottom: 20px;
  }
  h3 {
	@include sub-big-title;
  }
  h4 {
	@include sub-title;
  }
  h5 {
	font-size: size(26);
	line-height: size(28);
  }
  h6 {
	font-size: size(24);
	line-height: size(26);
  }
  p, li {
	@include base-text;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.post-output {
  p {
	margin-bottom: size(30);
  }
}
.base-text {
  @include base-text;
}
.base-link {
  position: relative;
  @include d-center;
  height: size(48);
  border-radius: 5px;
  border: 2px solid #bf1e2e;
  background-color: #efeeee;
  @include regular-text;
  padding: 10px 20px 10px 40px;
  background-position: 20px center;
  background-size: size(10);
  background-repeat: no-repeat;
  background-image: url("../iconsall/arrow-link.png");
  max-width: 210px;
  text-align: center;
  &:hover {
	&:after {
	  opacity: 0;
	}
  }
  &:after {
	position: absolute;
	top: 0;
	right: 0;
	content: '';
	display: block;
	box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	background-color: #cdcccc;
	height: calc(100% + 7px);
	width: 100%;
	z-index: -1;
	transition: opacity ease-out .5s;
  }
}
.image-border {
  position: relative;
  @include d-center;
  border: 2px solid #bf1e2e;
  padding: size(28);
  img {
	width: 100%;
  }
}
.image-video-inside {
  width: 100%;
}
.play-video {
  @include overlay;
  @include d-center;
  svg {
	width: size(60);
	height: size(60);
	fill: #ffffff;
	transition: all ease-out .5s;
  }
  &:hover svg {
	fill: $red-main;
  }
}
.put-video-here {
  @include overlay;
  z-index: -1;
  iframe {
	min-width: 100%;
	min-height: 100%;
  }
  &.show {
	z-index: 9;
	overflow: hidden;
  }
}
.why-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 80%;
  @media (max-width: 1200px) {
	max-width: 90%;
  }
  @media (max-width: 576px) {
	max-width: 100%;
  }
}
.why-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: size(90);
  margin-bottom: 20px;
  img {
	max-height: 100%;
  }
}
.why-item-title {
  font-size: size(22);
  line-height: size(28);
  color: $text-main;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.why-item-text {
  @include regular-text;
  font-weight: 300;
  color: $light-gray;
  text-align: center;
}
.post-page-img {
  margin-top: 80px;
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.share-text {
  @include mid-title;
  font-weight: 400;
  margin-left: 10px;
}
.social-share-link {
  @include d-center;
  margin: 0 8px;
}
.gallery-item {
  @include back-img;
  @include d-center;
  position: relative;
  border: 1px solid #bf1e2e;
  background-color: #ffffff;
  &:after {
	content: '';
	display: block;
	padding-bottom: 90%;
  }
}
.gallery-overlay {
  @include overlay;
  @include d-center;
  color: #ffffff;
  font-size: size(38);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  text-align: center;
  cursor: pointer;
  transition: color ease-out .5s;
  &:hover {
	color: $red-main;
  }
}
.gallery-col {
  padding: 9px;
}
.home-posts-block {
  margin-bottom: 90px;
}
.about-home {
  padding-top: 81px;
  background-color: #f9f9f9;
}
//Card category
.card-name-link {
  height: unset;
  padding: 5px size(29);
  background-image: none !important;
  width: 100%;
  max-width: unset;
  border: 1px solid #bebebe;
  @include mid-title;
  @media (max-width: 1200px) and (min-width: 992px){
	font-size: size(20);
	line-height: size(22);
  }
  &.post-item-link {
	padding: 5px 10px;
	font-size: size(20) !important;
	line-height: size(22) !important;
  }
}
.bordered-card {
  width: 100%;
  @include d-center;
  border-top: 2px solid $red-main;
  padding: size(10) size(20) size(16) size(20);
  flex-grow: 1;
}
.cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid $red-main;
}
.cat-item-image {
  @include d-center;
  @include back-img;
  width: 100%;
  &:after {
	content: '';
	padding-bottom: 79%;
	display: block;
  }
}
.post-cat-base {
  padding: 0 8px;
  @media (max-width: 576px) {
	padding: 0 15px;
  }
}
.sticky-form-col {
  position: relative;
}
.sticky-form {
  position: sticky;
  top: 0;
}
.cats-back {
  background-color: #f9f9f9;
  padding: 40px 10px;
}
.cats-back-padding {
  padding: 0 35px;
}
.container-small-layout {
  .base-slider-block .container {
	max-width: 100%;
	width: 100%;
  }
  .post-cat-base, .post-col-base {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	@media (max-width: 1200px) {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
	@media (max-width: 576px) {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
  .post-col-base {
	@media (max-width: 768px) {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
}
.more-link {
  background-image: none !important;
  padding: 5px 20px;
  width: 210px;
  &.hide {
	display: none;
  }
}
.main-category-image-block {
  width: 100%;
  margin-bottom: 30px;
}
.main-category-image {
  position: relative;
  width: 100%;
  @include back-img;
  max-height: 562px;
  height: 75vh;
}
.category-page-name {
  @include page-small-title;
  color: $text-main;
}
.cat-page-data {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 11px 30px;
  background-color: rgba(255, 255, 255, 0.9);
}
//Contact page
.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 45px;
}
.contact-icon-wrap  {
  @include d-center;
  width: size(53);
  min-width: size(53);
  height: size(53);
  margin-left: size(29);
  img {
	max-height: 100%;
  }
  @media (max-width: 768px) {
	margin-left: 18px;
  }
}
.contact-info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-info-title, .contact-info {
  color: #303030;
  font-size: size(24);
  line-height: size(30);
}
.contact-info-title {
  font-weight: 500;
}
.contact-info {
  transition: color ease-out .5s;
  &:hover {
	color: $red-main;
  }
}
.map-image {
  margin-bottom: 30px;
  img {
	width: 100%;
  }
}
.contact-form-wrap {
  padding: size(40) 30px;
  margin-bottom: 33px;
}
.faq-title {
  @include page-small-title;
  color: #4c4c4c;
  font-weight: 500;
}

@import "responsive";
